{% extends "base.html.twig" %}

{% block title  %} Pannel d'administration {% endblock %}


{% block body %}
	{{ parent() }}
	
		<div class="container">
			{% for message in app.flashes('success') %}
			
				{{ message }}
			
			{% endfor %}
		
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Produit</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
		
					{% for cat in cats %}
					
						<tr>
							<th>
								<a href="{{ path('admin.categorie.show', {id : cat.id}) }}">{{ cat.name }}</a>
							</th>
							<th>
								<a href="{{ path('admin.categorie.edit', {id: cat.id}) }}" class="btn btn-primary">Editer</a>
								<a href="{{ path('admin.categorie.delete', {id: cat.id}) }}" class="btn btn-danger" onclick="return confirm('Etes Vous vraiment sur ?')">Supprimer</a>
							</th>
						</tr>
						
					{% endfor %}
					
				</tbody>
			</table>
			<a href="{{ path('admin.categorie.new') }}">Nouvelle categorie</a>
		</div>
{% endblock %}