{% extends "base.html.twig" %}

{% block title  %} Pannel d'administration {% endblock %}


{% block body %}
	{{ parent() }}
	
		<div class="container">
		
			{% for message in app.flashes('success') %}
			
				{{ message }}
			
			{% endfor %}
		
			{{ form_start(form) }}
			
				<div class="form-group">
					{{ form_label(form.name) }}
					
					<div class="form-control">
						{{ form_widget(form.name) }}
					</div>
				</div>
			
				<div class="form-group">
					{{ form_label(form.price) }}
					
					<div class="form-control">
						{{ form_widget(form.price) }}
					</div>
				</div>
			
				<div class="form-group">
					{{ form_label(form.stock) }}
					
					<div class="form-control">
						{{ form_widget(form.stock) }}
					</div>
				</div>
			
				<div class="form-group">
					{{ form_label(form.description) }}
					
					<div class="form-control">
						{{ form_widget(form.description) }}
					</div>
				</div>
			
				<div class="form-group">
					{{ form_label(form.weight) }}
					
					<div class="form-control">
						{{ form_widget(form.weight) }}
					</div>
				</div>
			
				<div class="form-group">
					{{ form_label(form.imageFile) }}
					
					<div class="form-control">
						{{ form_widget(form.imageFile) }}
					</div>
				</div>
			
				<div class="form-group">
					{{ form_label(form.categorie) }}
					
					<div class="form-control">
						{{ form_widget(form.categorie) }}
					</div>
				</div>
				
				<button type="submit">Editer</button>
			
			{{ form_end(form) }}
			
		</div>
{% endblock %}