{% extends "base.html.twig" %}
{% block title  %} {{ products[0].categorie.name }} {% endblock %}

{% block body %}
	{{ parent() }}
	
	<div id="container">

		<div class='row'>
			{% for product in products %}
				<div class="card col-md-3">
					{% if product.imageName is defined and product.imageName is not null and product.imageName != ''%}
						<img class="card-img-top" src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.name }}" style="width : 300px; height: 230px">
					{% endif %}
					<div class="card-body">
						<h5 class="name card-title"><a href="{{path('product_show', {slug : product.slug, id : product.id})}}">{{ product.name }}</a></h5>
						<p class="price card-text">{{ product.price }} €</p>
						<p class="price card-text">{{ product.stock }} unité</p>
					</div>
				</div>
			{% endfor %}
		</div>
		
		{{ knp_pagination_render(products) }}

	</div>

{% endblock %}